*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.video-container{
    height: 100vh;
    width: 100vw;

}
video{
    height: 100%;
    width: 100%;
}

.action-cont{
    height: 12rem;
    width: 5rem;
    
    position: absolute;
    top: calc((100vh - 12rem) / 2);
    right: 5rem;
    color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action-cont > *{
    width: 100%;
    height: 5rem;
    background-color: black;
    border-radius: 50%;
    border:5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-cont{
    height: 12rem;
    width: 5rem;
    
    position: absolute;
    top: calc((100vh - 12em)/2);
    left: 0;
    color: rgb(20, 1, 1);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.timer{
    display: none;
    color: rgb(20, 19, 19);
}
    


.rec-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
}

.capture-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: green;

}
.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.scale-capture{
    animation-name : scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.filter-cont{
    height: 16rem;
    width: 5rem;
    background-color: aqua;
    position: absolute;
    top: 30%;
    left: 2rem;
    z-index: 2;
    
}
.filter-layer{
    height: 100vh;
    width: 100vw;
    z-index:1;
    position: absolute;
    top: 0;
    left: 0;
}
.filter{
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    height: 4rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no repeat;
    
    background-blend-mode: color-burn;
}
.orange{
    background-color: #f4a0079e;
}
.brown{
background-color: #eb0b0bab;
}
.pink{
background-color: #e9b7c0bd;
}
.transparent{
    background-color: transparent;

}
@keyframes scale-record {
    0%{
        transform: scale(0.8);    
    }
    100%{
        transform: scale(1.1);
    }
    
}
@keyframes scale-capture {
    0%{
        transform: scale(0.8);    
    }
    100%{
        transform: scale(1.1);
    }
    
}